body {
	font-family: serif,cursive, sans-serif;
	margin: 0;
	background: url("../images/notes.png") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 768px;
	margin: 0 auto;

	.form {
		display: flex;
		justify-content: center;
		align-items: center;

		input {
			background-color: #004749;
			color: rgb(253, 255, 230);
			flex: 1;
			font-size: 18px;
			height: 40px;
			text-indent: 10px;
			border: none;
			outline: none;
			padding: 0;
			margin: 0;

			&::placeholder {
				color: rgb(252, 252, 252);
			}
		}

		button {
			width: 50px;
			height: 40px;
			border: none;
			outline: none;
			cursor: pointer;
			background-color: rgb(0, 215, 223);
			color: rgb(48, 0, 0);
			font-size: 24px;
			line-height: 40px;
			padding: 0;
			
			&:hover {
				background-color: darken($color: rgb(126, 164, 36), $amount: 5);
			}

			&:active {
				background-color: lighten($color: rgb(255, 119, 248), $amount: 5);
			}
		}
	}

	.list {
		display: flex;
		flex-direction: column;
		padding: 10px 0px;
		.list-item {
			display: flex;
			margin: 10px;
			padding: 15px 15px;
			background-color: rgb(217, 241, 0);

			.item-name {
				flex: 1;
				color: rgb(0, 63, 199);
				font-size: 18px;

				border: none;
				outline: none;
				background: none;

				&:disabled {
					color: #001844;
				}
			}

			.item-actions {
				button {
					width: 75px;
					height: 25px;
					border: none;
					outline: none;

					color: #F3F3F3;
					cursor: pointer;

					&.update {
						background-color: rgb(6, 177, 0);

						&:hover {
							background-color: lighten($color: #24A484, $amount: 5);
						}

						&:active {
							background-color: darken($color: rgb(133, 133, 133), $amount: 5);
						}
					}
					
					&.remove {
						background-color: rgb(122, 30, 175);
						&:hover {
							background-color: lighten($color: #AF1E2D, $amount: 5);
						}

						&:active {
							background-color: darken($color: #AF1E2D, $amount: 5);
						}
					}
				}
			}
		}
	}
}